.ftbl{
    background: #3399cc;
    padding: 20px;
    border-radius: 5px;
    margin: 100px auto;
}

.ftbl th{
    font-size: 16px;
    padding-bottom: 10px;
}

.ftbb{
    background: -webkit-linear-gradient(top, #FFA500 0px, #FF8C00 100%);
    height: 36px;
    width: 110px;
    border: 1px solid #FF8C00;
    border-radius: 3px;
    text-shadow: 0px -1px #de7600;
}

.lm-nk{
    border: 1px solid gray !important;
    border-radius: 3px;
    width: 98.5%;
}

.fileField{
    padding: 10px;
}

.right{
    float: right;
    margin: 10px;
}

.red {
    float: left;
    background-color: #BD0000;
    margin: 10px 0 0 10px !important;

}

.green {
    float: left;
    background-color: #00BD2B;
    margin: 10px 0 20px 10px !important;
}

.clearnow{
    clear: both;
}