@charset "UTF-8";
@-webkit-keyframes button-ripple {
  0% {
    opacity: 0.6; }
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5); } }
@-moz-keyframes button-ripple {
  0% {
    opacity: 0.6; }
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
    transform: scale(2.5); } }
@-o-keyframes button-ripple {
  0% {
    opacity: 0.6; }
  100% {
    opacity: 0;
    -o-transform: scale(2.5);
    transform: scale(2.5); } }
@keyframes button-ripple {
  0% {
    opacity: 0.6; }
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5); } }
.btn.effect {
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: inline-block;
  outline: 0;
  text-decoration: none; }

.btn .ink-ripple {
  display: block;
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0); }

.btn .ink-ripple.animate {
  animation: button-ripple 0.3s linear;
  -webkit-animation: button-ripple 0.5s linear;
  -moz-animation: button-ripple 0.5s linear;
  -o-animation: button-ripple 0.5s linear; }

.btn.effect.orange {
  color: #fff;
  border: none;
  background: #FF7E00;
  padding: 8px 20px;
  cursor: pointer; }

.btn.effect.orange:hover {
  background: #FF8B1A;
  box-shadow: 0px 1px 2px #CDCDCD; }

.btn.effect.orange .ink-ripple {
  background: #CD3E00; }

.btn.effect.orange:disabled {
  background-color: #FAAE7B;
  cursor: default;
  box-shadow: none; }

.btn.effect.blue {
  color: #fff;
  border: none;
  background: #3399cc;
  padding: 8px 20px;
  cursor: pointer; }

.btn.effect.blue:hover {
  background: #318BB8;
  box-shadow: 0px 1px 2px #CDCDCD; }

.btn.effect.blue .ink-ripple {
  background: #99ccff; }

.btn.effect.blue:disabled {
  background-color: #94C7E1;
  cursor: default;
  box-shadow: none; }

.btn.effect.white {
  color: #333;
  border: none;
  background: #fff;
  padding: 8px 20px;
  cursor: pointer; }

.btn.effect.white:hover {
  box-shadow: 0px 1px 3px #CDCDCD; }

.btn.effect.white .ink-ripple {
  background: #BEBEBE; }

.btn.effect.white:disabled {
  color: #CCC;
  cursor: default;
  box-shadow: none; }

.btn.effect.grey {
  color: #333;
  border: none;
  background: #F5F5F5;
  padding: 8px 20px;
  cursor: pointer; }

.btn.effect.grey:hover {
  background: #F0F0F0;
  box-shadow: 0px 1px 3px #CDCDCD; }

.btn.effect.grey .ink-ripple {
  background: #d0d0d0; }

.btn.effect.grey:disabled {
  background-color: #FAFAFA;
  color: #999;
  cursor: default;
  box-shadow: none; }

input[type="checkbox"].effect, input[type="radio"].effect {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  z-index: 100;
  border: 2px solid #333;
  background: #fff;
  margin: 0 5px 0 0;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  vertical-align: middle; }

input[type="checkbox"].effect.error, input[type="radio"].effect.error {
  border: 2px solid #FF0000; }

input[type="checkbox"].effect::after, input[type="radio"].effect::after {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }

input[type="checkbox"].effect:hover, input[type="radio"].effect:hover {
  background: #F0F0F0; }

input[type="checkbox"].effect:checked {
  background: #4caf50;
  border: 2px solid #4caf50; }

input[type="radio"].effect:checked {
  border: 2px solid #4caf50;
  color: #4caf50; }

input[type="checkbox"].effect:checked::before {
  width: 18px;
  height: 18px;
  position: absolute;
  content: '\2714';
  display: inline-block;
  font-size: 18px;
  text-align: center;
  line-height: 18px; }

input[type="radio"].effect:checked::before {
  -webkit-animation: input-click-fade 0.45s;
  -moz-animation: input-click-fade 0.45s;
  animation: input-click-fade 0.45s;
  width: 16px;
  height: 16px;
  position: absolute;
  content: '\2714';
  display: inline-block;
  font-size: 25px;
  text-align: center;
  line-height: 13px; }

input[type="checkbox"].effect:checked::after, input[type="radio"].effect:checked::after {
  -webkit-animation: input-click-wave 0.45s;
  -moz-animation: input-click-wave 0.45s;
  animation: input-click-wave 0.45s;
  background: #E0E0E0;
  content: '';
  display: block;
  position: relative;
  z-index: 100; }

input[type="radio"].effect {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }

label.action {
  display: block; }

label.action input[type="checkbox"].effect, label.action input[type="radio"].effect {
  float: left; }
label.action span {
  display: block;
  margin-left: 30px; }

@-webkit-keyframes input-click-wave {
  0% {
    width: 20px;
    height: 20px;
    opacity: 0.1;
    position: relative; }
  80% {
    opacity: 0.4; }
  100% {
    width: 80px;
    height: 80px;
    margin-left: -33px;
    margin-top: -33px;
    opacity: 0.0; } }
@-moz-keyframes input-click-wave {
  0% {
    width: 20px;
    height: 20px;
    opacity: 0.1;
    position: relative; }
  80% {
    opacity: 0.4; }
  100% {
    width: 80px;
    height: 80px;
    margin-left: -33px;
    margin-top: -33px;
    opacity: 0.0; } }
@-o-keyframes input-click-wave {
  0% {
    width: 20px;
    height: 20px;
    opacity: 0.1;
    position: relative; }
  80% {
    opacity: 0.4; }
  100% {
    width: 80px;
    height: 80px;
    margin-left: -33px;
    margin-top: -33px;
    opacity: 0.0; } }
@keyframes input-click-wave {
  0% {
    width: 20px;
    height: 20px;
    opacity: 0.1;
    position: relative; }
  80% {
    opacity: 0.4; }
  100% {
    width: 80px;
    height: 80px;
    margin-left: -33px;
    margin-top: -33px;
    opacity: 0.0; } }
@-webkit-keyframes input-click-fade {
  0%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.2, 1.2, 1.2); }
  80% {
    opacity: 0.8;
    -webkit-transform: scale3d(0.85, 0.85, 0.85); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1); } }
@keyframes input-click-fade {
  0%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1);
    transform: scale3d(0.1, 0.1, 0.1); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2); }
  80% {
    opacity: 0.8;
    -webkit-transform: scale3d(0.85, 0.85, 0.85);
    transform: scale3d(0.85, 0.85, 0.85); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
/* TEXTAREA INPUT TEXT */
textarea.effect, input[type=text].effect {
  vertical-align: bottom;
  border: 0;
  width: 100%;
  background-image: -moz-linear-gradient(#3399cc, #3399cc), -moz-linear-gradient(#d2d2d2, #d2d2d2);
  background-image: -webkit-linear-gradient(#3399cc, #3399cc), -webkit-linear-gradient(#d2d2d2, #d2d2d2);
  background-image: -o-linear-gradient(#3399cc, #3399cc), -o-linear-gradient(#d2d2d2, #d2d2d2);
  background-image: -ms-linear-gradient(#3399cc, #3399cc), -ms-linear-gradient(#d2d2d2, #d2d2d2);
  background-image: linear-gradient(#3399cc, #3399cc), linear-gradient(#d2d2d2, #d2d2d2);
  background-size: 0 2px,100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom,center bottom;
  outline: none; }

textarea.effect.error, input[type=text].effect.error {
  background-image: -moz-linear-gradient(#3399cc, #3399cc), -moz-linear-gradient(#FF0000, #FF0000);
  background-image: -webkit-linear-gradient(#3399cc, #3399cc), -webkit-linear-gradient(#FF0000, #FF0000);
  background-image: -o-linear-gradient(#3399cc, #3399cc), -o-linear-gradient(#FF0000, #FF0000);
  background-image: -ms-linear-gradient(#3399cc, #3399cc), -ms-linear-gradient(#FF0000, #FF0000);
  background-image: linear-gradient(#3399cc, #3399cc), linear-gradient(#FF0000, #FF0000); }

textarea.effect:focus, input[type=text].effect:focus {
  -webkit-animation: input-text-flowslow .5s forwards;
  -moz-animation: input-text-flowslow .5s forwards;
  animation: input-text-flowslow .5s forwards;
  box-shadow: none;
  background-size: 0 2px,100% 1px; }

textarea.effect.border, input[type=text].effect.border {
  border: 1px solid #ccc;
  background-image: -moz-linear-gradient(#3399cc, #3399cc), -moz-linear-gradient(#FFF, #FFF);
  background-image: -webkit-linear-gradient(#3399cc, #3399cc), -webkit-linear-gradient(#FFF, #FFF);
  background-image: -o-linear-gradient(#3399cc, #3399cc), -o-linear-gradient(#FFF, #FFF);
  background-image: -ms-linear-gradient(#3399cc, #3399cc), -ms-linear-gradient(#FFF, #FFF);
  background-image: linear-gradient(#3399cc, #3399cc), linear-gradient(#FFF, #FFF);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center bottom;
  outline: none; }

textarea.effect.error.border, input[type=text].effect.error.border {
  background-image: -moz-linear-gradient(#3399cc, #3399cc), -moz-linear-gradient(#FF0000, #FF0000);
  background-image: -webkit-linear-gradient(#3399cc, #3399cc), -webkit-linear-gradient(#FF0000, #FF0000);
  background-image: -o-linear-gradient(#3399cc, #3399cc), -o-linear-gradient(#FF0000, #FF0000);
  background-image: -ms-linear-gradient(#3399cc, #3399cc), -ms-linear-gradient(#FF0000, #FF0000);
  background-image: linear-gradient(#3399cc, #3399cc), linear-gradient(#FF0000, #FF0000); }

@keyframes input-text-flowslow {
  0% {
    background-size: 0 2px, 100% 1px; }
  100% {
    background-size: 100% 2px, 100% 1px; } }
@-webkit-keyframes input-text-flowslow {
  0% {
    background-size: 0 2px, 100% 1px; }
  100% {
    background-size: 100% 2px, 100% 1px; } }
@-moz-keyframes input-text-flowslow {
  0% {
    background-size: 0 2px, 100% 1px; }
  100% {
    background-size: 100% 2px, 100% 1px; } }
div.placeholder {
  position: relative;
  padding-top: 10px !important; }

div.placeholder label {
  cursor: text;
  font-size: 14px;
  color: #A0A0A0;
  width: 100%;
  display: block;
  position: absolute;
  top: 18px;
  -webkit-transition: all 0.15s cubic-bezier(0.22, 0.61, 0.36, 1);
  -moz-transition: all 0.15s cubic-bezier(0.22, 0.61, 0.36, 1);
  -o-transition: all 0.15s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: all 0.15s cubic-bezier(0.22, 0.61, 0.36, 1); }
div.placeholder label.active {
  font-size: 11px !important;
  top: 0 !important; }
div.placeholder label.active.blue {
  color: #3399cc; }
div.placeholder textarea {
  padding: 8px 0;
  line-height: 1.5;
  font-size: 14px; }
div.placeholder input {
  line-height: 1.5;
  padding: 8px 0;
  font-size: 14px; }
div.placeholder textarea, div.placeholder input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  vertical-align: bottom;
  border: 0;
  width: 100%;
  background-image: -moz-linear-gradient(#3399cc, #3399cc), -moz-linear-gradient(#d2d2d2, #d2d2d2);
  background-image: -webkit-linear-gradient(#3399cc, #3399cc), -webkit-linear-gradient(#d2d2d2, #d2d2d2);
  background-image: -o-linear-gradient(#3399cc, #3399cc), -o-linear-gradient(#d2d2d2, #d2d2d2);
  background-image: -ms-linear-gradient(#3399cc, #3399cc), -ms-linear-gradient(#d2d2d2, #d2d2d2);
  background-image: linear-gradient(#3399cc, #3399cc), linear-gradient(#d2d2d2, #d2d2d2);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center bottom;
  outline: none; }
div.placeholder textarea.error, div.placeholder input.error {
  background-image: -moz-linear-gradient(#3399cc, #3399cc), -moz-linear-gradient(#FF0000, #FF0000);
  background-image: -webkit-linear-gradient(#3399cc, #3399cc), -webkit-linear-gradient(#FF0000, #FF0000);
  background-image: -o-linear-gradient(#3399cc, #3399cc), -o-linear-gradient(#FF0000, #FF0000);
  background-image: -ms-linear-gradient(#3399cc, #3399cc), -ms-linear-gradient(#FF0000, #FF0000);
  background-image: linear-gradient(#3399cc, #3399cc), linear-gradient(#FF0000, #FF0000); }
div.placeholder textarea:focus, div.placeholder input[type=text]:focus {
  -webkit-animation: placeholder-flowslow .5s forwards;
  -moz-animation: placeholder-flowslow .5s forwards;
  animation: placeholder-flowslow .5s forwards;
  box-shadow: none;
  background-size: 0 2px, 100% 1px; }

div.placeholder.border {
  padding-top: 14px !important; }

div.placeholder.border label {
  cursor: text;
  font-size: 14px;
  color: #A0A0A0;
  width: 100%;
  display: block;
  position: absolute;
  top: 24px;
  padding: 0 8px; }
div.placeholder.border label.active {
  padding: 0 !important; }
div.placeholder.border textarea {
  padding: 8px;
  line-height: 1.5;
  font-size: 14px; }
div.placeholder.border input {
  line-height: 1.5;
  padding: 8px;
  font-size: 14px; }
div.placeholder.border textarea, div.placeholder.border input {
  border: 1px solid #ccc;
  background-image: -moz-linear-gradient(#3399cc, #3399cc), -moz-linear-gradient(#FFF, #FFF);
  background-image: -webkit-linear-gradient(#3399cc, #3399cc), -webkit-linear-gradient(#FFF, #FFF);
  background-image: -o-linear-gradient(#3399cc, #3399cc), -o-linear-gradient(#FFF, #FFF);
  background-image: -ms-linear-gradient(#3399cc, #3399cc), -ms-linear-gradient(#FFF, #FFF);
  background-image: linear-gradient(#3399cc, #3399cc), linear-gradient(#FFF, #FFF);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center bottom;
  outline: none; }
div.placeholder.border textarea.error, div.placeholder.border input.error {
  background-image: -moz-linear-gradient(#3399cc, #3399cc), -moz-linear-gradient(#FF0000, #FF0000);
  background-image: -webkit-linear-gradient(#3399cc, #3399cc), -webkit-linear-gradient(#FF0000, #FF0000);
  background-image: -o-linear-gradient(#3399cc, #3399cc), -o-linear-gradient(#FF0000, #FF0000);
  background-image: -ms-linear-gradient(#3399cc, #3399cc), -ms-linear-gradient(#FF0000, #FF0000);
  background-image: linear-gradient(#3399cc, #3399cc), linear-gradient(#FF0000, #FF0000); }

@keyframes placeholder-flowslow {
  0% {
    background-size: 0 2px, 100% 1px; }
  100% {
    background-size: 100% 2px, 100% 1px; } }
@-webkit-keyframes placeholder-flowslow {
  0% {
    background-size: 0 2px, 100% 1px; }
  100% {
    background-size: 100% 2px, 100% 1px; } }
@-moz-keyframes placeholder-flowslow {
  0% {
    background-size: 0 2px, 100% 1px; }
  100% {
    background-size: 100% 2px, 100% 1px; } }
.modal-sendtalk {
  /* ╨┤╨╛╨▒╨░╨▓╨╗╨╡╨╜╨╕╨╡ ╤Д╨╛╤В╨╛╨│╤А╨░╤Д╨╕╨╣ */ }
  .modal-sendtalk .closer {
    outline: 0;
    position: relative;
    top: 18px;
    right: 20px;
    padding: 0 5px;
    -webkit-appearance: none;
    cursor: pointer;
    background: 0 0;
    border: 0;
    float: right;
    font-size: 28px;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .5;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear; }
  .modal-sendtalk .left {
    float: left;
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 10px 0 0; }
  .modal-sendtalk .right {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 0 0 10px;
    margin-left: 50%;
    width: 50%; }
  .modal-sendtalk .closer:hover {
    filter: alpha(opacity=90);
    opacity: .9; }
  .modal-sendtalk .title {
    padding: 15px 30px 0; }
  .modal-sendtalk #modal-sendtalk > div {
    padding: 0 30px 5px 30px; }
  .modal-sendtalk textarea {
    min-height: 100px;
    min-width: 100%;
    max-width: 100%; }
  .modal-sendtalk input[type="text"] {
    width: 100%; }
  .modal-sendtalk .agreement {
    margin: 20px 0 15px 0;
    font-size: 14px; }
  .modal-sendtalk .button {
    padding-bottom: 25px !important;
    padding-top: 10px !important; }
  .modal-sendtalk #ml-close-message, .modal-sendtalk #ml-send-message {
    margin-right: 5px; }
  .modal-sendtalk #ml-add-file {
    float: right; }
  .modal-sendtalk #ml-upload {
    overflow: hidden;
    padding-top: 12px !important;
    padding-bottom: 0px !important; }
  .modal-sendtalk #ml-upload #upload-img {
    height: 65px;
    width: 90px; }
  .modal-sendtalk #ml-upload #upload-img img {
    margin: 18px 0 0 32px; }
  .modal-sendtalk #ml-upload .file-add {
    float: left;
    margin: 0px 14px 7px 0;
    position: relative;
    overflow: hidden; }
  .modal-sendtalk #ml-upload .file-add:hover .file-del {
    opacity: 0.8; }
  .modal-sendtalk #ml-upload .file-add:hover .file-del:hover {
    opacity: 1; }
  .modal-sendtalk #ml-upload .file-add:hover .file-del {
    display: block; }
  .modal-sendtalk #ml-upload .file-img {
    cursor: pointer;
    height: 65px;
    width: 90px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; }
  .modal-sendtalk #ml-upload .file-del {
    background-position: -120px -240px;
    cursor: pointer;
    background-color: #eee;
    height: 30px;
    opacity: 0.5;
    position: absolute;
    right: 0px;
    width: 30px;
    -webkit-transition: opacity 0.2s cubic-bezier(0, 0, 0.58, 1) 0s;
    -moz-transition: opacity 0.2s cubic-bezier(0, 0, 0.58, 1) 0s;
    -ms-transition: opacity 0.2s cubic-bezier(0, 0, 0.58, 1) 0s;
    -o-transition: opacity 0.2s cubic-bezier(0, 0, 0.58, 1) 0s;
    transition: opacity 0.2s cubic-bezier(0, 0, 0.58, 1) 0s; }

/*# sourceMappingURL=style.css.map */
